body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(195, 245, 228);
}

.results,
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: auto;
}

h1,
.result p {
  font-family: "monospace", cursive;
  text-transform: uppercase;
}
.result p {
  font-size: 30px;
}
.result {
  width: 300px;
  height: 400px;
  /* border: 1px solid black; */
  margin: 10px;
  border-radius: 5px;
  background-color: azure;
}
.result img {
  object-fit: cover;
  height: 400px;
  width: 100%;
}
button {
  margin: 10px;
  background-color: rgb(0, 0, 0);
  border: 0;
  color: rgb(195, 245, 228);
  border-radius: 4px;
  font-size: 18px;
  padding: 10px;
  font-family: "monospace", cursive;
  width: 300px;
  text-transform: uppercase;
  cursor: pointer;
}
button:focus {
  outline: none;
}
button:active {
  transform: scale(0.98);
}

@media (max-width: 700px) {
  .results,
  .result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  button {
    width: 100%;
    font-size: 13px;
    margin: 5px auto;
  }

  h1 {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 20px;
  }
}
